.user-card {
  height: 100%;
  color: white;
  border-radius: 15px;
  background-color: hsl(235, 46%, 20%);
  line-height: 1.1;

  .user-card-content {
    height: 65%;
    background-color: hsl(246, 80%, 60%);
    border-radius: 15px;

    .avatar img {
      width: 35%;
      height: 35%;
      margin-top: 10%;
      margin-left: 10%;
      border: 5px solid white;
      border-radius: 100%;
    }

    .user-card-text {
      h5 {
        font-size: 16px;
        color: hsl(235, 45%, 80%);
        font-weight: 500;
        margin-top: 15%;
        margin-left: 10%;
      }

      p {
        font-family: 'Rubik', sans-serif;
        font-size: 48px;
        font-weight: 300;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 20%;
      }
    }

  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    margin-left: 10%;



    span {
      font-size: 18px;
      font-family: 'Rubik', sans-serif;
      color: hsl(235, 45%, 61%);
      font-weight: 400;
    }

    :hover {
      color: white;
    }

    :focus {
      color: white;
    }
  }

}

