<div class="data-cards">

  <div class="dash-card" *ngFor="let card of cards let i = index">

    <div class="dash-card-background-{{card.type}} dash-card-background"
         [ngStyle]="{'background-color': card.backgroundColor}">
      <img [src]="card.backgroundPicturePath" alt="there must be {{card.backgroundPicturePath}}">

      <div class="dash-card-workflow">
        <div class="dash-header">
          <div class="card-label">{{card.type | titlecase}}</div>
          <div class="menu-button">
            <button mat-icon-button [ngStyle]="{'background': 'url(assets/images/icon-ellipsis.svg) center no-repeat'}">
            </button>
          </div>
        </div>
        <div class="activity-info">

          <p class="actual-period" >
            {{selectedData[i].period.current + 'hrs'}}
          </p>
          <p class="last-period">
            {{'Last Period: ' + selectedData[i].period.previous}}
          </p>

        </div>
      </div>
    </div>
  </div>

</div>


